<img src="%AVATAR%" alt="" id="avatar-setup">
<div class="account-info-item">
    <div class="title-account-info">ID</div>
    <div class="value-account-info" id="account-id">%ID%</div>
</div>
<div class="account-info-item">
    <div class="title-account-info">Tên tài khoản</div>
    <div class="value-account-info" id="account-username">%USERNAME%</div>
</div>
<div class="account-info-item">
    <div class="title-account-info">Tên người dùng</div>
    <input type="text" name="" id="account-nick-name" class="value-account-info inp-new-info" value="%NICKNAME%" disabled>
    <label for="account-nick-name" class="btn-edit-value">Chỉnh sửa</label>
</div>
<div class="account-info-item">
    <div class="title-account-info">Email</div>
    <input type="text" name="" id="account-email" class="value-account-info inp-new-info" value="%EMAIL%" disabled>
    <label for="account-email" class="btn-edit-value">Chỉnh sửa</label>
</div>